
body {
  background-image: url('../imgs/backgroundB.jpg');
  background-repeat: repeat;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  not supported by any browser */
}
::-webkit-scrollbar {
  display: none;
}
.white-bg {
  background: white;border-radius: 6px;
  padding: 10px;
}
.margin-10 {
  margin: 10px;
}
.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 5px 0;
}
