<toaster-container></toaster-container>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					Controle de emails para o curso {{curso.nome}}, turma {{turma.codigo}}
				</div>
				<div class="col-md-6">

					<button type="button" class="btn btn-block btn-default" ng-click="voltar()">
						Voltar
					</button>
				</div>
			</div>
			<p style="heigth:10px;"></p>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<input type="hidden" ng-model="cadastro._id">
								<label class="col-md-4 control-label" for="nome">Nome</label>
								<div class="col-md-8">
									<input id="nome" name="nome" type="text" ng-model="cadastro.nome" placeholder="Nome" class="form-control input-md" required="">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="hidden" ng-model="cadastro._id">
								<label class="col-md-4 control-label" for="nome">Email</label>
								<div class="col-md-8">
									<input id="email" name="email" type="text" ng-model="cadastro.email" placeholder="exemplo@exemplo.com" class="form-control input-md" required="">
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<button type="button" class="btn btn-block btn-default" ng-click="add(cadastro)">Adicionar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<p style="heigth:10px;"></p>
				<div class="col-md-3">
					<button class="btn btn-success btn-block" ng-click="salvarEmails(cadastro)">Salvar lista de emails</button>
				</div>
				<div class="col-md-9">
					<div class="panel panel-default">
						{{emails}}
						<table class="table" >
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										Nome
									</th>
									<th>
										Email
									</th>
									<th>
										Ações
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pessoa in turmadados.emails">
									<td>
										#
									</td>
									<td>
										<a href="#" editable-text="pessoa.nome" e-label="Nome">{{pessoa.nome}}</a>
									</td>
									<td>
										<a href="#" editable-text="pessoa.email" e-label="Email">{{pessoa.email}}</a>
									</td>
									<td>
										<button class="btn btn-danger" ng-click="removeremail(pessoa)">Excluir</button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
