<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

          <button type="button" class="btn btn-block btn-default" ng-click="voltar()">
            Voltar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel-group" id="panel-139326">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>{{ (cadastro._id != undefined) ? 'Editar turma '+cadastro.nome:'Cadastrar nova turma'}}</h3>

              </div>
              <div id="panel-element-545788" class="panel-collapse collapse in">
                <div class="panel-body">

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="panel-group" id="panel-139326">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-139326" href="#panel-element-545788"></a>
              </div>
              <div id="panel-element-545788" class="panel-collapse collapse in">
                <div class="panel-body">
                  <form class="form-horizontal">
                    <fieldset>

                      <!-- Form Name -->


                      <!-- Text input-->
                      <div class="form-group">
                        <input type="hidden" ng-model="cadastro._id">
                        <label class="col-md-4 control-label" for="nome">Nome do curso</label>
                        <div class="col-md-8">
                          <input id="nome" name="nome" type="text" ng-value="curso.nome" placeholder="Nome do curso" class="form-control input-md" required=""  readonly="">

                        </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                          <input type="hidden" ng-model="cadastro._id">
                          <label class="col-md-4 control-label" for="nome">Número da turma</label>
                          <div class="col-md-8">
                            <input id="nome" name="nome" type="text" ng-model="cadastro.codigo" placeholder="Nome do curso" class="form-control input-md" required="">
                          </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                          <input type="hidden" ng-model="cadastro._id">
                          <label class="col-md-4 control-label" for="nome">Data de inicio</label>
                          <div class="col-md-8">
                            <input id="nome" name="nome" type="date" ng-model="cadastro.datainicio" placeholder="Nome do curso" class="form-control input-md" required="">
                          </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                          <input type="hidden" ng-model="cadastro._id">
                          <label class="col-md-4 control-label" for="nome">Data de conclusão</label>
                          <div class="col-md-8">
                            <input id="nome" name="nome" type="date" ng-model="cadastro.dataconclusao" placeholder="Nome do curso" class="form-control input-md" required="">
                          </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="codigo">Turno da turma</label>
                          <div class="col-md-8">
                            <select id="selectbasic" name="selectbasic" class="form-control" ng-model="cadastro.turno">
                              <option >--Selecione--</option>
                              <option value="Matutino">Matutino</option>
                              <option value="Vespertino">Vespertino</option>
                              <option value="Noturno">Noturno</option>
                            </select>

                          </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">

                          <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="salvar(cadastro,curso._id)">Salvar</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
