<p style="margin-top:70px;"></p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-block btn-default" disabled="">
				{{curso.nome}}
			</button>
			<button type="button" class="btn btn-block btn-default" ui-sref="turmaui({curso:curso})">
				Nova turma
			</button>
		</div>
		<div class="col-md-10">
			<div class="col-md-12">
				<div class="input-group" style="padding:10px;">
					<input type="text" ng-model="pesquisa" class="form-control" placeholder="Pesquisar" aria-describedby="basic-addon2">
					<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default"  style="background:white;border-radius:6px;">

					<md-table-container>
						<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
							<thead md-head >
								<th md-column ><span>#</span></th>
								<th md-column ><span>Número da turma</span></th>
								<th md-column ><span>Data de inicio/termino</span></th>
								<th md-column  style="text-align: end;"><span>Ações</span></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="objeto in turmas | filter : pesquisa">
								<td md-cell></td>
								<td md-cell>{{objeto.doc.codigo}}</td>
								<td md-cell>{{objeto.doc.datainicio | date:'dd/MM/y'}} -
								{{objeto.doc.dataconclusao | date:'dd/MM/y'}}</td>
							<td md-cell  style="text-align: end;">
								<a ui-sref="turmaui({'turma':objeto.doc, 'curso':curso})" class="btn btn-default"><span class="glyphicon glyphicon-pencil" ></span> Editar turma</a>
								<a ui-sref="emailsturma({'turma':objeto.doc, 'curso':curso})" class="btn btn-primary"><span class="glyphicon glyphicon-inbox"></span> Controle de emails</a>
							</td>
						</tr>
						</tbody>
					</table>
				</md-table-container>

				<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{turmas.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
				<table class="table table-bordered" >
					<tbody>
						<tr ng-repeat="turma in ">
							<td>
								{{turma
								</td>

								<td>
									{{turma.doc.codigo}}
								</td>
								<td>
									}
								</td>
								<td>

									<!-- <button id="singlebutton" name="singlebutton" class="btn btn-block btn-primary">Emails</button> -->
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
