<div class="container-fluid white-bg margin-10">
	<h3 class="text-center">Controle de turmas do curso <b><i>"{{curso.nomeDoCurso}}"</i></b></h3>
	<hr>
	<div class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10">
          <div class="input-group" style="padding:10px;">
            <input type="text" ng-model="pesquisa" class="form-control" placeholder="Pesquisar" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
          </div>
				</div>
				<div class="col-md-2">
		      <a ui-sref="turmaui({turma:null, curso:curso})" class="btn btn-success margin-10"><span class="glyphicon glyphicon-send"></span> Cadastrar nova turma</a>
		    </div>
			</div>
			<div class="row">
				<div class="col-md-12">

          <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
              <thead md-head >
                <th md-column>
                  <b><h4>#</h4></b>
                </th>
                <th md-column>
                  <b><h4>Número da turma</h4></b>
                </th>
                <th md-column>
                  <b><h4>Data de inicio/ fim</h4></b>
                </th>
                <th md-column>
                  <b><h4>Emails associadas</h4></b>
                </th>
                <th md-column>
                  <b><h4>Ações</h4></b>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="objeto in listaTurmas | filter : pesquisa | orderBy:'-data'">
                <td md-cell>#</td>
                <td md-cell>{{objeto.codigo}}</td>
                <td md-cell>{{objeto.datainicio | date :  "dd/MM/y"}} - {{objeto.dataconclusao | date :  "dd/MM/y"}}</td>
                <td md-cell>{{objeto.emails.length}}</td>
                <td md-cell>
                  <button class="btn btn-info " ui-sref="turmaui({curso: curso, turma:objeto})">Editar</button>
									<a ng-click="deletar(objeto)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
				</div>
			</div>
		</div>

	</div>
</div>
