<div class="container-fluid white-bg margin-10">
	<div class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10">
					<div class="input-group" style="padding:10px;">
						<input type="text" ng-model="pesquisa" class="form-control" placeholder="Pesquisar" aria-describedby="basic-addon2">
						<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
					</div>
				</div>
				<div class="col-md-2">
					<a ui-sref="cursoui" class="btn btn-success margin-10"><span class="glyphicon glyphicon-send"></span> Cadastrar novo curso</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">

					<md-table-container>
						<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
							<thead md-head >
								<th md-column>
									<b><h4>#</h4></b>
								</th>
								<th md-column>
									<b><h4>Nome do curso</h4></b>
								</th>
								<th md-column>
									<b><h4>Data de criação</h4></b>
								</th>
								<th md-column>
									<b><h4><center>Turmas associadas</center></h4></b>
								</th>
								<th md-column style="text-align: right;">
									<b><h4>Ações</h4></b>
								</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="objeto in listaCursos | filter : pesquisa">
								<td md-cell>#</td>
								<td md-cell>{{objeto.nomeDoCurso}}</td>
								<td md-cell>{{objeto.dataCriacao |date : 'dd/MM/y'}}</td>
								<td md-cell  class="text-center"><center>{{objeto.cont}}</center></td>
								<td md-cell class="text-right" style="text-align: right;">
									<button class="btn btn-primary  " ui-sref="turma({curso: objeto})">Turmas</button>
									<button class="btn btn-info  " ui-sref="cursoui({curso: objeto})">Editar</button>
									<a ng-click="deletar(objeto)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</div>
		</div>
	</div>

</div>
</div>
