<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
<toaster-container></toaster-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Configurações do email
          </h3>
        </div>
        <div class="panel-body">
          Ao lado você deve preencher os campos para permitir que o software se comunique com seu servidor de emails
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <label for="textinput">Email</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input ng-model="config.user" type="text" class="form-control" placeholder="Endereço de email" aria-describedby="basic-addon1">
      </div>
      <label for="textinput">Senha</label>
      <div class="input-group">
        <span class="glyphicon glyphicon-asterisk input-group-addon" id="basic-addon1"></span>
        <input ng-model="config.password" type="password" class="form-control" placeholder="Senha do email" aria-describedby="basic-addon1">
      </div>
      <label for="textinput">Servidor SMTP</label>
      <div class="input-group">
        <span class="glyphicon glyphicon-inbox input-group-addon" id="basic-addon1"></span>
        <input ng-model="config.host" type="text" class="form-control" placeholder="Endereço do servidor SMTP" aria-describedby="basic-addon1">
      </div>
      <label for="textinput">Porta SMTP</label>
      <div class="input-group">
        <span class="glyphicon glyphicon-exclamation-sign input-group-addon" id="basic-addon1"></span>
        <input ng-model="config.port" type="text" class="form-control" placeholder="Porta do servidor SMTP" aria-describedby="basic-addon1">
      </div>
      <label for="textinput">Usar SSL</label>
      <div class="input-group">
        <span class="glyphicon glyphicon-exclamation-sign input-group-addon" id="basic-addon1"></span>
        <select ng-model="config.ssl" id="selectbasic" name="selectbasic" class="form-control">
          <option value="true" selected="">Sim</option>
          <option value="false">Não</option>
        </select>
      </div>
      <label for="textinput">Assinatura de email</label>
        <div id="assinatura" style="background:white;" ></div>

      <div style="margin: 10px;">
        <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="salvar(config)">
          Salvar
        </button>
      </div>

    </div>
  </div>
</div>
