<p style="margin-top:70px;"></p>
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-2">

			<button type="button" class="btn btn-block btn-default" ui-sref="cursoui">
				Novo Curso
			</button>
		</div>
		<div class="col-md-10">
			<div class="col-md-12">
				<div class="input-group" style="padding:10px;">
					<input type="text" ng-model="pesquisa" class="form-control" placeholder="Pesquisar" aria-describedby="basic-addon2">
					<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<div class="col-md-12">
			<div class="panel-collapse collapse in">
				<div class="panel-body" style="background:white;border-radius:6px;">
							<md-table-container>
								<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
									<thead md-head>
										<th md-column><span>#</span></th>
										<th md-column><span>Curso</span></th>
										<th md-column><span>Código do curso</span></th>
										<th md-column style="text-align: end;"><span>Ações</span></th>
									</tr>
								</thead>
								<tbody md-body>
									<tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="objeto in cursos | filter : pesquisa">
										<td md-cell></td>
										<td md-cell>{{objeto.doc.nome}}</td>
										<td md-cell>{{objeto.doc.codigo}}</td>
										<td md-cell style="text-align: end;">
											<button id="singlebutton" name="singlebutton" class="btn btn-primary" ui-sref="cursoui({'cadastro':objeto.doc})">Editar</button>
											<button id="singlebutton" name="singlebutton" class="btn btn-primary" ui-sref="turmas({'curso':objeto.doc})">Controle de Turmas</button>

										</td>
									</tr>
								</tbody>
							</table>
						</md-table-container>

						<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{cursos.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
					</div>
				</div>
			</div>
				<div ng-hide="cursos != undefined"><center ><h3>Ainda não há cursos cadastrados.</h3></center></div>
			</div>
		</div>
	</div>
