<div class="container-fluid">
  <toaster-container></toaster-container>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ng-change ng-click="aplicaFiltros()">
        <label>Seleciona o(s) curso(s)</label>
        <div
        isteven-multi-select
        input-model="turmas"
        output-model="cursosFilter"
        button-label="icon nome"
        item-label="icon nome maker"
        tick-property="ticked"
        class="btn-block"
        >
      </div>
      <label>Turno(s)</label>
      <div class="input-group">
        <div
        isteven-multi-select input-model="[{'turno':'Matutino'},{'turno':'Vespertino'},{'turno':'Noturno'}]"
        output-model="turnosFilter"
        button-label="turno"
        item-label="turno"
        tick-property="ticked"
        class="btn-block"
        >
      </div>

      <label>Turmas com incio em</label>
      <div class="input-group">
        <input class="form-control input-md" ng-model="email.dataInicioFiltro" type="date" name="dataInicio">
      </div>
      <label>até o periodo de</label>
      <div class="input-group">
        <input class="form-control input-md" ng-model="email.dataFimFiltro" type="date" name="dataFim">
      </div>
    </ng-change>
  </div>
  <label>Turma(s)</label>
  <div class="input-group">
    <div
    isteven-multi-select
    input-model="turmasAplicar"
    output-model="turmasFiltro"
    button-label="codigo"
    item-label="codigo"
    tick-property="ticked"
    group-property="true"
    >
  </div>
</div>
<div style="margin-top:10px;"></div>
<a ng-click="enviarEmail()"  class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-send"></span> Enviar email</a>
</div>
<div class="col-md-9">
  <label for="textinput">Titulo do email</label>
  <div class="input-group">
    <span class="glyphicon glyphicon-pencil input-group-addon" id="basic-addon1"></span>
    <input ng-model="email.titulo"  type="text" class="form-control" placeholder="Titulo do email" >
  </div>
  <div id="editorTexto" ng-model="email.corpo" style="background:white;"></div>
  <div class="col-md-12">
  </div>
  <div class="input-group">
    <!-- image-preview-input -->
    <span class="glyphicon glyphicon-folder-open input-group-addon"></span>
    <div class="btn btn-default">
      <input type="file" file-model='fileModel'  name="input-file-preview"/> <!-- rename it -->
    </div>
    <button class="btn btn-default"  ng-click='upload()'>Enviar aquivo</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Arquivo
        </th>
        <th>
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in listaArquivos">
        <td>
          {{file.filename}}
        </td>
        <td>
          <button class="btn btn-danger" ng-click="removerArquivo(file)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
